# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.sqlite3

# Virtual environments
venv/
rag_venv/

# Logs and databases
*.log

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
